### Téléchargement des packages

In [338]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import mlxtend as mlx
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth
import matplotlib.pyplot as plt
from prefixspan import PrefixSpan

### Importation des données

In [351]:
# ==================== DATA MANIPULATION ==================== #
titanic = pd.read_csv("/Users/lemauffjulien/Documents/Titanic_project-master/titanic_data/clean_data/Clean_train.csv")

In [352]:
# //-- Grouped Age using Age_median \\-- #

# Given the shape of the distribution we can separate the Age by group such as
# Age_group = 0_16 if the age is between 0 and 16 included
# Age_group = 17_30 if the age is between 17 and 30 included
# Age_group = 31_40 if the age is between 31 and 40 included
# Age_group = over_40 if the age is strictly higher than 40

def Age_categorical(x):
    if x <= 16:
        return("0_16")
    elif x <= 30:
        return("17_30")
    elif x <= 40:
        return("31_40")
    else:
        return("over_40")

titanic["Age_group"] = titanic.Age_replace.apply(lambda x: Age_categorical(x))

### Sélection et transformation des variables

In [353]:
titanic1 = titanic [["Survived", "Pclass", "Title", "Famsize", "Age_group"]] 

# //-- Survived \\-- #

def Survived_process(x):
    if x == 1.0:
        return("Survived")
    else:
        return("Died")

titanic1.loc[:, "Survived"] = titanic1.Survived.apply(lambda x: Survived_process(x))

# //-- Pclass \\-- #

def Pclass_process(x):
    if x == 1:
        return('First_class')
    elif x == 2:
        return('Second_class')
    elif x == 3:
        return('Third_class')
    else:
        return("ERROR")

titanic1.loc[:, "Pclass"] = titanic1.Pclass.apply(lambda x: Pclass_process(x))

titanic1.head()

   Survived       Pclass Title       Famsize Age_group
0      Died  Third_class    Mr  small_family     17_30
1  Survived  First_class   Mrs  small_family     31_40
2  Survived  Third_class  Miss          solo     17_30
3  Survived  First_class   Mrs  small_family     31_40
4      Died  Third_class    Mr          solo     31_40

### Règles d'association et fouille de séquence

In [348]:
# ==================== Dataframe into List ==================== #
titanic_list = titanic1.values.tolist()
te = TransactionEncoder()
te_ary = te.fit(titanic_list).transform(titanic_list)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,0_16,17_30,31_40,Died,First_class,Master,Miss,Mr,Mrs,Nobility,Officer,Second_class,Survived,Third_class,big_family,over_40,small_family,solo
0,False,True,False,True,False,False,False,True,False,False,False,False,False,True,False,False,True,False
1,False,False,True,False,True,False,False,False,True,False,False,False,True,False,False,False,True,False
2,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,True
3,False,False,True,False,True,False,False,False,True,False,False,False,True,False,False,False,True,False
4,False,False,True,True,False,False,False,True,False,False,False,False,False,True,False,False,False,True

In [349]:
frequent_itemsets = fpgrowth (df, min_support=0.3,use_colnames=True)
resultPD = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.01)

# ==================== Règles d'association ==================== #

subresult = resultPD[["antecedents", "consequents", "support", "confidence"]]
print(subresult)

            antecedents          consequents   support  confidence
0                (Died)                 (Mr)  0.489338    0.794171
1                  (Mr)               (Died)  0.489338    0.843327
2                  (Mr)               (solo)  0.445567    0.767892
3                (solo)                 (Mr)  0.445567    0.739292
4            (Died, Mr)               (solo)  0.377104    0.770642
5          (Died, solo)                 (Mr)  0.377104    0.898396
6            (Mr, solo)               (Died)  0.377104    0.846348
7                (Died)           (Mr, solo)  0.377104    0.612022
8                  (Mr)         (Died, solo)  0.377104    0.649903
9                (solo)           (Died, Mr)  0.377104    0.625698
10        (Third_class)               (Died)  0.417508    0.757637
11               (Died)        (Third_class)  0.417508    0.677596
12        (Third_class)                 (Mr)  0.358025    0.649695
13                 (Mr)        (Third_class)  0.358025    0.617021
14        (Third_class)               (solo)  0.363636    0.659878
15               (solo)        (Third_class)  0.363636    0.603352
16  (Third_class, Died)                 (Mr)  0.317621    0.760753
17    (Third_class, Mr)               (Died)  0.317621    0.887147
18           (Died, Mr)        (Third_class)  0.317621    0.649083
19        (Third_class)           (Died, Mr)  0.317621    0.576375
20               (Died)    (Third_class, Mr)  0.317621    0.515483
21                 (Mr)  (Third_class, Died)  0.317621    0.547389
22        (Third_class)              (17_30)  0.342312    0.621181
23              (17_30)        (Third_class)  0.342312    0.686937
24               (Died)              (17_30)  0.338945    0.550091
25              (17_30)               (Died)  0.338945    0.680180
26                 (Mr)              (17_30)  0.332211    0.572534
27              (17_30)                 (Mr)  0.332211    0.666667
28               (solo)              (17_30)  0.353535    0.586592
29              (17_30)               (solo)  0.353535    0.709459
30               (Died)               (solo)  0.419753    0.681239
31               (solo)               (Died)  0.419753    0.696462

In [350]:
# ==================== Fouille de séquences ==================== #
ps = PrefixSpan(titanic_list)
freqSequences = ps.frequent(50, closed = True)

sequence_pd = pd.DataFrame.from_records(freqSequences)
print(sequence_pd)

       0                                     1
0    549                                [Died]
1    372                   [Died, Third_class]
2    283               [Died, Third_class, Mr]
3    200        [Died, Third_class, Mr, 17_30]
4    232         [Died, Third_class, Mr, solo]
5    169  [Died, Third_class, Mr, solo, 17_30]
6     67     [Died, Third_class, small_family]
7    238            [Died, Third_class, 17_30]
8    255             [Died, Third_class, solo]
9    186      [Died, Third_class, solo, 17_30]
10    53            [Died, Third_class, 31_40]
11    50       [Died, Third_class, big_family]
12    51             [Died, Third_class, Miss]
13   436                            [Died, Mr]
14    89              [Died, Mr, small_family]
15   257                     [Died, Mr, 17_30]
16   336                      [Died, Mr, solo]
17    51               [Died, Mr, solo, 31_40]
18   208               [Died, Mr, solo, 17_30]
19    70             [Died, Mr, solo, over_40]
20    75                     [Died, Mr, 31_40]
21    90                   [Died, Mr, over_40]
22   123                  [Died, small_family]
23    62           [Died, small_family, 17_30]
24   302                         [Died, 17_30]
25   374                          [Died, solo]
26    58                   [Died, solo, 31_40]
27   228                   [Died, solo, 17_30]
28    80                 [Died, solo, over_40]
29    89                         [Died, 31_40]
..   ...                                   ...
100  101           [First_class, small_family]
101  107                     [First_class, Mr]
102   67               [First_class, Mr, solo]
103   62            [First_class, Mr, over_40]
104  109                   [First_class, solo]
105   60          [First_class, solo, over_40]
106  105                [First_class, over_40]
107   53                  [First_class, 17_30]
108  126                                 [Mrs]
109   95                   [Mrs, small_family]
110  164                               [31_40]
111  185                                [Miss]
112  103                          [Miss, solo]
113   71                   [Miss, solo, 17_30]
114  107                         [Miss, 17_30]
115   59                  [Miss, small_family]
116  537                                [solo]
117  315                         [solo, 17_30]
118   95                         [solo, 31_40]
119  111                       [solo, over_40]
120  179                             [over_40]
121   62                          [big_family]
122  104                                [0_16]
123  184                        [Second_class]
124   78          [Second_class, small_family]
125  104                  [Second_class, solo]
126   55           [Second_class, solo, 17_30]
127   91                    [Second_class, Mr]
128   66              [Second_class, Mr, solo]
129   86                 [Second_class, 17_30]

[130 rows x 2 columns]